@{
    ViewData["Title"] = "Home Page";
}

    <link rel="stylesheet" href="~/Imgs/logo.png" asp-append-version="true" />

<div class="text-center">
    <h1 class="display-4">Nozama Livros</h1>
    <p>O melhor lugar para encontrar os seus livros, mangás e filmes</a>.</p>

   
    <div class="row row-cols-1 row-cols-md-3 g-4">
  <div class="col">
    <div class="card border-secondary mb-3" style="max-width: 18rem;">
      <img src="/Imgs/Aventura/NomeandoVento/test.jpg" class="card-img-top" alt="..." width="300" height="400" >
      <div class="card-body">
            <h5 class="card-title">O nome do vento – Edição luxo (A Crônica do Matador do Rei – Livro 1)</h5>
       Edição especial com material inédito, nota do autor e muito mais!
        Desde sua publicação em 2007, O nome do vento encantou milhões de leitores com a história de coragem e sobrevivência de um herói contada em sua própria voz – a busca de um homem por significado em seu universo e como essa busca e a vontade indomável que a impulsiona deram origem a uma lenda.</p>
     <a href="https://github.com/LuizFelipeBender/ProjetoNETCORE_Tech2Avanade_CloneNETFLIX"  button type="button" class="btn btn-primary btn-sm">Adicionar ao carrinho </a>
        <a href=" https://www.amazon.com.br/nome-vento-Edi%C3%A7%C3%A3o-Cr%C3%B4nica-Matador/dp/6555651857/ref=pd_sbs_1/145-1723580-7229035?pd_rd_w=nO7Jc&pf_rd_p=85da4d1b-8d06-4bdf-bda9-50351d6cef84&pf_rd_r=535S5ZFVSM3NFC1KNHG8&pd_rd_r=1777222f-c2c6-47c2-a43d-d7b54d7c9893&pd_rd_wg=FjY0d&pd_rd_i=6555651857&psc=1"  type="button" class="btn btn-secondary btn-sm">Comprar agora</a>  

    </div>
    </div>
  </div>
  <div class="col">
    <div class="card border-danger mb-3" style="max-width: 18rem;">
      <img src=/Imgs/Aventura/NomeandoVento/the.jpg class="card-img-top" alt="..." width="300" height="400">
      <div class="card-body">
        <h5 class="card-title">The Beginning After The End</h5>
        <p class="card-text">Rei Grey conquistou força, riquezas e prestígio sem iguais em um mundo governado pela habilidade marcial. Entretanto, a solidão acompanha de perto aqueles de grande poder. Por detrás da máscara de um glorioso e poderoso rei, reside a casca vazia de um homem destituído de propósito e vontade. Renascido em um novo mundo repleto de magia e monstros, o Rei Grey terá a chance de refazer sua vida. <a href="https://github.com/LuizFelipeBender/ProjetoNETCORE_Tech2Avanade_CloneNETFLIX"  button type="button" class="btn btn-primary btn-sm">Adicionar ao carrinho </a>
        <a href="https://www.amazon.com.br/Early-Years-Beginning-After-English-ebook/dp/B01B1DNB3C/ref=sr_1_1?__mk_pt_BR=%C3%85M%C3%85%C5%BD%C3%95%C3%91&crid=37V2GK0IYU8B1&keywords=The+Beginning+After+The+End&qid=1642990750&sprefix=the+beginning+after+the+end%2Caps%2C169&sr=8-1"  type="button" class="btn btn-secondary btn-sm">Comprar agora</a>  
      
    </div>
    </div>
  </div>
  <div class="col">
<div class="card border-primary mb-3" style="max-width: 18rem;">  
    <img src=/Imgs/Aventura/NomeandoVento/Pedra.jpg class="card-img-top" alt="..." width="300" height="400">
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content.</p>
         <a href="https://github.com/LuizFelipeBender/ProjetoNETCORE_Tech2Avanade_CloneNETFLIX"  button type="button" class="btn btn-primary btn-sm">Adicionar ao carrinho </a>
        <a href="https://www.amazon.com.br/Nietzsche-para-estressados-Allan-Percy/dp/8575426435/ref=sr_1_3?crid=1Q29BPHLED8D&keywords=nietzsche+para+estressados&qid=1642989319&s=books&sprefix=nietzsche+estr%2Cstripbooks%2C168&sr=1-3"  type="button" class="btn btn-secondary btn-sm">Comprar agora</a>  
    </div>
    </div>
  </div>

  <div class="col">
    <div class="card border-danger mb-3" style="max-width: 18rem;">
      <img src=/Imgs/Aventura/NomeandoVento/41maqui.jpg class="card-img-top" alt="..." width="300" height="400">
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
     <a href="https://github.com/LuizFelipeBender/ProjetoNETCORE_Tech2Avanade_CloneNETFLIX"  button type="button" class="btn btn-primary btn-sm">Adicionar ao carrinho </a>
        <a href="https://www.amazon.com.br/Nietzsche-para-estressados-Allan-Percy/dp/8575426435/ref=sr_1_3?crid=1Q29BPHLED8D&keywords=nietzsche+para+estressados&qid=1642989319&s=books&sprefix=nietzsche+estr%2Cstripbooks%2C168&sr=1-3"  type="button" class="btn btn-secondary btn-sm">Comprar agora</a>
    
    </div>
    </div>
  </div>
  <div class="col">
<div class="card border-primary mb-3" style="max-width: 18rem;">  
    <img src=/Imgs/Aventura/NomeandoVento/Niet_.jpg class="card-img-top" alt="..." width="300" height="400" >
      <div class="card-body"> 
        <h5 class="card-title">Card title</h5>
        <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. </p>
        <a href="https://github.com/LuizFelipeBender/ProjetoNETCORE_Tech2Avanade_CloneNETFLIX"  button type="button" class="btn btn-primary btn-sm">Adicionar ao carrinho </a>
        <a href="https://www.amazon.com.br/Nietzsche-para-estressados-Allan-Percy/dp/8575426435/ref=sr_1_3?crid=1Q29BPHLED8D&keywords=nietzsche+para+estressados&qid=1642989319&s=books&sprefix=nietzsche+estr%2Cstripbooks%2C168&sr=1-3"  type="button" class="btn btn-secondary btn-sm">Comprar agora</a>
    </div>
    </div>
  </div>

  <div class="col">
    <div class="card border-secondary mb-3" style="max-width: 18rem;">
      <img src="/Imgs/Aventura/NomeandoVento/sun.jpg" class="card-img-top" alt="..." width="300" height="400" >
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
         <a href="https://github.com/LuizFelipeBender/ProjetoNETCORE_Tech2Avanade_CloneNETFLIX"  button type="button" class="btn btn-primary btn-sm">Adicionar ao carrinho </a>
        <a href="https://www.amazon.com.br/Nietzsche-para-estressados-Allan-Percy/dp/8575426435/ref=sr_1_3?crid=1Q29BPHLED8D&keywords=nietzsche+para+estressados&qid=1642989319&s=books&sprefix=nietzsche+estr%2Cstripbooks%2C168&sr=1-3"  type="button" class="btn btn-secondary btn-sm">Comprar agora</a>
    </div>
    </div>
  </div>

</div>

</div>

